html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td,
figure,
article {
	border: 0;
	box-sizing: border-box;
	font-size: 100%;
	font-weight: normal;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

article,
header,
footer,
aside,
figure,
figcaption,
nav,
section {
	display: block;
}

body {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-family: “Times New Roman”, “游明朝”, “Yu Mincho”, “游明朝体”, “YuMincho”, “ヒラギノ明朝 Pro W3”, “Hiragino Mincho Pro”, “HiraMinProN-W3”, “HGS明朝E”, “ＭＳ Ｐ明朝”, “MS PMincho”, serif;
	font-size: 16px;
	line-height: 1;
}

ol,
ul {
	list-style: none;
	list-style-type: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

img {
	height: auto;
	max-width: 100%;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: transparent;
	border: none;
	cursor: pointer;
	outline: none;
	padding: 0;
}

.inner {
	margin: 0 auto;
	max-width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
}

.section-title {
	color: #000;
	font-size: 36px;
	text-align: center;
}

#js-mouse {
	background-color: #fff179;
	border-radius: 50%;
	height: 30px;
	left: -15px;
	opacity: 0;
	pointer-events: none;
	position: fixed;
	top: -15px;
	transform: translate(0, 0);
	transition: transform 0.3s ease-out;
	width: 30px;
	z-index: 9999;
}

#js-mouse.js-hover {
	background-color: rgba(255, 191, 0, 0.5);
	height: 50px;
	transition: all 0.4s ease 0s;
	width: 50px;
}

.loader-bg {
	align-items: center;
	background-color: #0d5ca7;
	display: flex;
	height: 100vh;
	justify-content: center;
	left: 0;
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 9999;
}

.loader {
	animation: loader 2s ease 1s;
	opacity: 1;
}

.header__main-page-fixed {
	background: #0d5ca7;
	display: none;
	height: 80px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

.header__main-page-fixed .header__lower-logo {
	max-width: 100%;
	width: 200px;
}

.header__main-page-fixed .header__lower-logo.negative {
	display: none;
}

.header__main-page-fixed .header-nav {
	color: #fff;
}

.header__main-page {
	background: #ecc100;
	height: 80px;
	width: 100%;
}

.header__main-page .header__main-logo {
	max-width: 100%;
	width: 200px;
}

.header__main-page .modal-button a {
	background: #59b1e2;
}

.header-inner {
	align-items: center;
	display: flex;
	height: inherit;
	max-width: 100%;
	width: 100%;
}

.header-nav {
	color: #fff;
	display: flex;
	font-weight: 800;
	margin-left: 120px;
}

.header-nav li:not(:first-child) {
	margin-left: 32px;
}

.header-nav a:hover {
	opacity: 0.7;
}

.drawer-icon {
	display: none;
	position: fixed;
	right: 20px;
	top: 27px;
	transition: transform 0.5s ease 0s;
	z-index: 300;
}

.drawer-icon.is-active {
	transform: translateX(-300px);
}

.drawer-icon.is-active .drawer-icon-bar1 {
	background: #fff;
	top: 8px;
	transform: rotate(-45deg);
	transition: all 0.5s ease 0s;
}

.drawer-icon.is-active .drawer-icon-bar2 {
	display: none;
}

.drawer-icon.is-active .drawer-icon-bar3 {
	background: #fff;
	top: 8px;
	transform: rotate(45deg);
	transition: all 0.5s ease 0s;
}

.lower-drawer {
	display: none;
	position: fixed;
	right: 20px;
	top: 27px;
	transition: transform 0.5s ease 0s;
	z-index: 300;
}

.lower-drawer.is-active {
	transform: translateX(-300px);
}

.lower-drawer.is-active .drawer-icon-bar1 {
	background: #fff;
	top: 8px;
	transform: rotate(-45deg);
	transition: all 0.5s ease 0s;
}

.lower-drawer.is-active .drawer-icon-bar2 {
	display: none;
}

.lower-drawer.is-active .drawer-icon-bar3 {
	background: #fff;
	top: 8px;
	transform: rotate(45deg);
	transition: all 0.5s ease 0s;
}

.drawer-icon-bars {
	display: block;
	height: 26px;
	position: relative;
	width: 30px;
}

.drawer-icon-bar1,
.drawer-icon-bar2,
.drawer-icon-bar3 {
	height: 2px;
	left: 0;
	position: absolute;
	top: 0;
	transition: background-color 1s;
	width: 30px;
}

.drawer-icon-bar1.top-drawer,
.drawer-icon-bar2.top-drawer,
.drawer-icon-bar3.top-drawer {
	background-color: #59b1e2;
	transition: background-color 1s;
}

.drawer-icon-bar1.lower-drawer,
.drawer-icon-bar2.lower-drawer,
.drawer-icon-bar3.lower-drawer {
	background-color: #0d5ca7;
}

.drawer-icon-bar1 {
	top: 0;
}

.drawer-icon-bar2 {
	top: 13px;
}

.drawer-icon-bar3 {
	top: 26px;
}

.drawer-content {
	background: #0d5ca7;
	height: 100%;
	padding: 20px;
	position: fixed;
	right: 0;
	top: 0;
	transform: translateX(105%);
	transition: transform 0.5s ease 0s;
	width: 300px;
	z-index: 220;
}

.drawer-content.is-active {
	transform: translateX(0);
}

.drawer-logo img {
	max-width: 100%;
	width: 200px;
}

.drawer-content-title {
	color: #fff;
	font-size: 20px;
	margin-top: 30px;
}

.drawer-content-items {
	margin-top: 20px;
}

.drawer-content-items a {
	color: #000;
	color: #fff;
	display: block;
	font-weight: bold;
	padding: 18px 20px;
	position: relative;
	text-decoration: none;
}

.drawer-content-items a::after {
	content: "";
	height: 11px;
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	width: 8px;
}

.drawer-info {
	color: #fff;
	font-size: 14px;
	margin-top: 20px;
}

.drawer-info-title {
	font-size: 20px;
	margin-top: 30px;
}

.drawer-tel {
	margin-top: 30px;
	padding-left: 20px;
}

.drawer-fax {
	margin-top: 10px;
	padding-left: 20px;
}

.drawer-adress1 {
	margin-top: 20px;
	padding-left: 20px;
}

.drawer-adress2 {
	margin-top: 10px;
	padding-left: 20px;
}

.drawer-background {
	background-color: rgba(0, 0, 0, 0.8);
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 200;
}

.drawer-background.is-active {
	display: block;
}

.drawer-background.top-background {
	background-color: rgba(0, 0, 0, 0.8);
}

.modal-button {
	margin-left: auto;
}

.modal-button a {
	background: #ecc100;
	color: #fff;
	font-size: 14px;
	font-weight: 800;
	padding: 19px 37px;
}

.modal-button a:hover {
	opacity: 0.7;
}

/*モーダル本体の指定 + モーダル外側の背景の指定*/

.modal-container {
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000; /*サイトによってここの数値は調整 */
}

.modal-container.active {
	display: block; /*モーダル本体に「active」クラス付与した時のスタイル*/
}

.modalBg {
	background-color: rgba(255, 255, 255, 0.3);
	height: 100%;
	width: 100%;
}

/*モーダル枠の指定*/

.modal-body {
	background-color: #fff;
	border: 1px solid #707070;
	left: 50%;
	max-width: 100%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 550px;
}

/*モーダルを閉じるボタンの指定*/

.modal-close {
	cursor: pointer;
	height: 18px;
	position: absolute;
	right: 22px;
	top: 20px;
	width: 18px;
}

/*モーダル内のコンテンツの指定*/

.modal-content {
	background: #fff;
	padding: 30px 60px 90px;
	text-align: left;
}

.modal-title {
	border-bottom: 1px solid #E7E7E7;
	font-size: 20px;
	padding-bottom: 30px;
	text-align: center;
}

.contact-form {
	margin: 36px auto 0;
}

.contact-form-row:not(:first-child) {
	margin-top: 14px;
}

.contact-form-input {
	margin-top: 14px;
}

.contact-form-input [type=text] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: #fff;
	border: 1px solid #E7E7E7;
	border-radius: 0;
	box-shadow: none;
	color: inherit;
	font-family: inherit;
	font-size: 14px;
	padding: 9px 10px;
	width: 100%;
}

.contact-form-input [type=email] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: #fff;
	border: 1px solid #E7E7E7;
	border-radius: 0;
	box-shadow: none;
	color: inherit;
	font-family: inherit;
	font-size: 14px;
	padding: 9px 10px;
	width: 100%;
}

.contact-form-input select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 1px solid #E7E7E7;
	border-radius: 0;
	box-shadow: none;
	color: #797878;
	font-family: inherit;
	font-size: 14px;
	padding: 9px 10px;
	width: 100%;
}

.contact-form-button {
	margin-top: 64px;
	text-align: center;
}

.contact-form-button [type=submit] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: #fff;
	border: 1px solid #707070;
	border-radius: 0;
	box-shadow: none;
	color: inherit;
	cursor: pointer;
	display: inline-block;
	font-family: inherit;
	font-size: 16px;
	font-weight: 700;
	padding: 13px 67px;
	transition: all 0.3s ease 0s;
	width: 198px;
}

.contact-form-button [type=submit]:hover {
	opacity: 0.7;
}

.main-visual {
	height: 1080px;
	width: 100%;
}

.main-visual__slide {
	height: 100%;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.main-visual__slide-picture {
	animation: slider-1 24s linear infinite;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.main-visual__slide-picture:nth-child(1) {
	animation-delay: -2s;
	background: url(../img/fv1.jpg) no-repeat center center/cover;
}

.main-visual__slide-picture:nth-child(2) {
	animation-delay: 6s;
	background: url(../img/fv2.jpg) no-repeat center center/cover;
}

.main-visual__slide-picture:nth-child(3) {
	animation-delay: 14s;
	background: url(../img/fv3.jpg) no-repeat center center/cover;
}

.main-visual__content {
	color: #fff;
	font-size: 34px;
	font-weight: 800;
	letter-spacing: 0.25em;
	line-height: 1.24;
	position: absolute;
	writing-mode: vertical-rl;
	z-index: 1;
}

.main-visual__content1 {
	right: 505px;
	top: 362px;
}

.main-visual__content2 {
	right: 590px;
	top: 362px;
}

.history {
	background: url(../img/bg-bg.jpg) no-repeat center center/cover;
	height: 800px;
	width: 100%;
}

.history-inner {
	width: 1180px;
	writing-mode: vertical-rl;
}

.history-content {
	padding: 64px 97px;
}

.history-title {
	font-size: 28px;
	letter-spacing: 0.5em;
}

.history-title p:not(:first-child) {
	margin-right: 33px;
	padding-top: 85px;
}

.history-lead {
	letter-spacing: 0.37em;
	margin-right: 118px;
	padding-top: 85px;
}

.history-lead p:not(:first-child) {
	margin-right: 22px;
}

.history-lead span {
	text-orientation: upright;
}

.history-name {
	letter-spacing: 0.55em;
	margin-right: 118px;
	padding-bottom: 20px;
	text-align: right;
}

.history-name p {
	font-size: 22px;
}

.about {
	background-color: #ffe6c1;
	padding: 106px 0 78px;
}

.about-inner {
	max-width: 100%;
	width: 100%;
}

.about-item {
	display: flex;
}

.about-item:nth-child(1) .about-picture {
	height: 545px;
	max-width: 100%;
	width: 54.6875%;
}

.about-item:nth-child(1) .about-picture img {
	-o-object-fit: cover;
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.about-item:nth-child(1) .about-content {
	max-width: 100%;
	padding-left: 7.1%;
	padding-top: 20px;
	width: 45.3125%;
}

.about-item:nth-child(1) .about-content h2 {
	font-size: 36px;
	line-height: 1.72222;
}

.about-item:nth-child(1) .about-content p {
	line-height: 2;
	margin-top: 52px;
}

.about-item:nth-child(1) .about-content .about-button {
	margin-top: 66px;
}

.about-item:nth-child(1) .about-content .about-button a {
	background: #59b1e2;
	color: #fff;
	display: inline-block;
	padding: 20px 44px;
	transition: all 0.3s ease 0s;
}

.about-item:nth-child(1) .about-content .about-button a:hover {
	background: #0d5ca7;
	color: #ecc100;
}

.about-item:nth-child(2) {
	flex-direction: row-reverse;
	margin-top: 120px;
}

.about-item:nth-child(2) .about-picture {
	height: 545px;
	max-width: 100%;
	width: 54.6875%;
}

.about-item:nth-child(2) .about-picture img {
	-o-object-fit: cover;
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.about-item:nth-child(2) .about-content {
	padding-left: 7%;
	padding-top: 43px;
	width: 45.3125%;
}

.about-item:nth-child(2) .about-content h2 {
	font-size: 36px;
	line-height: 1.72222;
}

.about-item:nth-child(2) .about-content p {
	line-height: 2;
	margin-top: 55px;
}

.about-item:nth-child(2) .about-content .about-button {
	margin-top: 31px;
}

.about-item:nth-child(2) .about-content .about-button a {
	background: #59b1e2;
	color: #fff;
	display: inline-block;
	padding: 20px 44px;
	transition: all 0.3s ease 0s;
}

.about-item:nth-child(2) .about-content .about-button a:hover {
	background: #0d5ca7;
	color: #ecc100;
}

.about-item:nth-child(3) {
	margin-top: 122px;
}

.about-item:nth-child(3) .about-picture {
	height: 545px;
	max-width: 100%;
	width: 54.6875%;
}

.about-item:nth-child(3) .about-picture img {
	-o-object-fit: cover;
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.about-item:nth-child(3) .about-content {
	padding-left: 7.1%;
	padding-top: 20px;
	width: 45.3125%;
}

.about-item:nth-child(3) .about-content h2 {
	font-size: 36px;
	line-height: 1.72222;
}

.about-item:nth-child(3) .about-content p {
	line-height: 2;
	margin-top: 55px;
}

.about-item:nth-child(3) .about-content .about-button {
	margin-top: 66px;
}

.about-item:nth-child(3) .about-content .about-button a {
	background: #59b1e2;
	color: #fff;
	display: inline-block;
	padding: 20px 44px;
	transition: all 0.3s ease 0s;
}

.about-item:nth-child(3) .about-content .about-button a:hover {
	background: #0d5ca7;
	color: #ecc100;
}

.plan {
	background: url(../img/black-line.jpg) no-repeat center center/cover;
	color: #fff;
	padding: 122px 0 136px;
}

.plan .section-title {
	color: #fff;
	position: relative;
}

.plan .section-title::after {
	background: url(../img/white-logo.png) no-repeat center center/contain;
	content: "";
	height: 40px;
	left: 50%;
	position: absolute;
	top: -60px;
	transform: translateX(-50%);
	width: 40px;
}

.plan-inner {
	margin: 0 auto;
	max-width: 100%;
	width: 1181px;
}

.plan-items {
	display: flex;
	flex-wrap: wrap;
	margin: 66px auto 0;
}

.plan-item {
	display: flex;
	flex-direction: column;
	width: calc((100% - 188px) / 3 - 1px);
}

.plan-item:not(:nth-child(3n+1)) {
	margin-left: 94px;
}

.plan-item h3 {
	font-size: 20px;
	line-height: 1.6;
	margin-top: 25px;
}

.plan-item p {
	flex-grow: 1;
	line-height: 2;
	margin-top: 20px;
}

.plan-picture img {
	-o-object-fit: contain;
	height: 209px;
	max-width: 100%;
	object-fit: contain;
	width: 100%;
}

.news {
	padding: 120px 0 60px;
}

.news .section-title {
	position: relative;
}

.news .section-title::after {
	background: url(../img/black-logo.png) no-repeat center center/contain;
	content: "";
	height: 40px;
	left: 50%;
	position: absolute;
	top: -60px;
	transform: translateX(-50%);
	width: 40px;
}

.news-inner {
	max-width: 100%;
	width: 1226px;
}

.tab {
	display: flex;
	justify-content: center;
	margin-top: 46px;
	padding-right: 20px;
}

.tab li:last-child {
	margin-left: 50px;
}

.tab li.active {
	border-bottom: 1px solid #707070;
}

.area {
	margin: 49px auto 0;
}

.news-area {
	display: none;
}

.news-area.show {
	display: block;
}

.news-items {
	display: flex;
}

.news-left {
	margin-right: 46px;
	width: 50%;
}

.news-right {
	width: 50%;
}

.news-item:nth-child(n+2) {
	margin-top: 20px;
}

.news-item-link {
	background: #F6F6F6;
	display: flex;
	padding: 15px 10px;
}

.news-picture {
	height: 100px;
	width: 133px;
}

.news-picture img {
	-o-object-fit: cover;
	height: 100%;
	object-fit: cover;
	width: 103px;
}

.news-content {
	width: calc(100% - 133px);
}

.news-date {
	font-size: 14px;
}

.news-lead {
	line-height: 2;
	margin-top: 6px;
}

.access {
	background: url(../img/white-bg.jpg) no-repeat center center/cover;
	padding: 120px 0 112px;
}

.access .section-title {
	position: relative;
}

.access .section-title::after {
	background: url(../img/black-logo.png) no-repeat center center/contain;
	content: "";
	height: 40px;
	left: 50%;
	position: absolute;
	top: -60px;
	transform: translateX(-50%);
	width: 40px;
}

.access-inner {
	width: 1220px;
}

.access-row {
	display: flex;
	justify-content: center;
	margin: 82px auto 0;
}

.access-picture {
	-o-object-fit: cover;
	height: 370px;
	max-width: 100%;
	object-fit: cover;
	width: 656px;
}

.access-info {
	padding-left: 83px;
	width: calc(100% - 656px);
}

.access-info dl {
	margin-top: 20px;
}

.access-info dl dt {
	font-weight: 800;
}

.access-info dl dt:not(:first-child) {
	margin-top: 16px;
}

.access-info dl dd {
	line-height: 2;
	margin-top: 16px;
}

.access-text {
	line-height: 2;
	margin-top: 10px;
}

.access-map {
	margin: 69px auto 0;
	max-width: 100%;
	width: 792px;
}

.iframe-wrap {
	padding-top: 74.7474747475%;
	position: relative;
	width: 100%;
}

.iframe-wrap iframe {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.footer {
	color: #fff;
}

.footer-top {
	background: url(../img/brown.jpg) no-repeat center center/cover;
	padding: 64px 0 61px;
}

.footer-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	letter-spacing: 0.8em;
	margin: 0 auto;
	width: inherit;
	writing-mode: vertical-rl;
}

.footer-list li:not(:first-child) {
	margin-right: 34px;
}

.footer-list a {
	font-size: 18px;
}

.footer-list a:hover {
	opacity: 0.7;
}

.footer-logo {
	height: 92px;
	margin: 85px auto 73px;
	width: 145px;
}

.footer-logo img {
	-o-object-fit: contain;
	height: 100%;
	max-width: 100%;
	object-fit: contain;
	width: 100%;
}

.footer-info {
	margin: 70px auto 0;
	text-align: center;
}

.footer-address p span:last-child {
	letter-spacing: 2.28px;
	padding-left: 21px;
}

.footer-tel {
	margin-top: 23px;
}

.footer-tel p span:last-child {
	padding-left: 20px;
}

.footer-bottom {
	align-items: center;
	background: #0d5ca7;
	display: flex;
	height: 90px;
	justify-content: center;
}

.footer-bottom p {
	color: #fff;
	font-size: 12px;
}

.header__lower-page {
	background: #fff;
	height: 80px;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 100;
}

.header__lower-page .header__lower-logo {
	max-width: 100%;
	width: 200px;
}

.header__lower-page .header-nav {
	color: #000;
}

.header-visual {
	height: 500px;
	margin-top: 80px;
	max-width: 100%;
	position: relative;
	width: 100%;
}

.header-visual.room {
	background: url(../img/atmosphere-header.jpg) no-repeat center center/cover;
}

.header-visual.food {
	background: url(../img/menu.jpg) no-repeat center center/cover;
}

.header-visual.blog {
	background: url(../img/blog-header.jpg) no-repeat center center/cover;
}

.header-visual__logo {
	color: #fff;
	font-size: 34px;
	font-weight: 800;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

.breadcrumb .home {
	padding-right: 10px;
}

.breadcrumb .post {
	padding-left: 10px;
}

.contents {
	margin: 0 auto;
	max-width: 100%;
	padding: 36px 0 277px;
	width: 1180px;
}

.contents.contents-spa {
	padding: 36px 0 93px;
}

.contents.contents-blog {
	padding: 36px 0 150px;
}

.contents-text {
	line-height: 2;
	margin-top: 90px;
	text-align: center;
}

.contents-items {
	margin-top: 70px;
}

.contents-item:nth-child(1) {
	display: flex;
	position: relative;
}

.contents-item:nth-child(1)::after {
	background: url(../img/lightblue-bg.jpg) no-repeat center center/cover;
	content: "";
	height: 381px;
	position: absolute;
	right: 0;
	top: 57px;
	width: 813px;
	z-index: -1;
}

.contents-item:nth-child(1) .contents-box__picture {
	height: 300px;
	max-width: 100%;
	width: 525px;
}

.contents-item:nth-child(1) .contents-box__picture img {
	-o-object-fit: cover;
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.contents-item:nth-child(1) .contents-box__content {
	padding-left: 80px;
	padding-top: 117px;
	width: calc(100% - 525px);
}

.contents-item:nth-child(1) .contents-box__content .contents-box__text {
	padding-right: 20px;
}

.contents-item:nth-child(1) .contents-box__content.content-blog .contents-box__text {
	padding-right: 20px;
}

.contents-item:nth-child(1) .contents-box__attention {
	font-size: 14px;
	line-height: 1.5;
	margin-top: 40px;
	padding-left: 6px;
}

.contents-item:nth-child(2) {
	display: flex;
	flex-direction: row-reverse;
	margin-top: 190px;
	position: relative;
}

.contents-item:nth-child(2)::after {
	background: url(../img/lightblue-bg.jpg) no-repeat center center/cover;
	content: "";
	height: 381px;
	left: 0;
	position: absolute;
	top: 57px;
	width: 813px;
	z-index: -1;
}

.contents-item:nth-child(2).food-item {
	margin-top: 222px;
}

.contents-item:nth-child(2).spa-item {
	margin-top: 222px;
}

.contents-item:nth-child(2).blog-item {
	margin-top: 222px;
}

.contents-item:nth-child(2) .contents-box__picture {
	height: 300px;
	max-width: 100%;
	width: 525px;
}

.contents-item:nth-child(2) .contents-box__picture img {
	-o-object-fit: cover;
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.contents-item:nth-child(2) .contents-box__content {
	margin-right: auto;
	padding-left: 60px;
	padding-top: 117px;
	width: calc(100% - 525px);
}

.contents-item:nth-child(2) .contents-box__content.content-blog {
	padding-right: 30px;
}

.contents-item:nth-child(2) .contents-box__attention {
	font-size: 14px;
	line-height: 1.5;
	margin-top: 40px;
	padding-left: 0;
}

.contents-item:nth-child(3) {
	display: flex;
	margin-top: 167px;
	position: relative;
}

.contents-item:nth-child(3)::after {
	background: url(../img/lightblue-bg.jpg) no-repeat center center/cover;
	content: "";
	height: 381px;
	position: absolute;
	right: 0;
	top: 57px;
	width: 813px;
	z-index: -1;
}

.contents-item:nth-child(3).food-item {
	margin-top: 222px;
}

.contents-item:nth-child(3).blog-item {
	margin-top: 222px;
}

.contents-item:nth-child(3) .contents-box__picture {
	height: 300px;
	max-width: 100%;
	width: 525px;
}

.contents-item:nth-child(3) .contents-box__picture img {
	-o-object-fit: cover;
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.contents-item:nth-child(3) .contents-box__content {
	padding-left: 80px;
	padding-top: 120px;
	width: calc(100% - 525px);
}

.contents-item:nth-child(3) .contents-box__content .contents-box__text {
	padding-right: 20px;
}

.contents-item:nth-child(3) .contents-box__content.content-blog .contents-box__text {
	padding-right: 20px;
}

.contents-item:nth-child(3) .contents-box__attention {
	font-size: 14px;
	line-height: 1.5;
	margin-top: 40px;
	padding-left: 0;
}

.contents-item:nth-child(4) {
	display: flex;
	flex-direction: row-reverse;
	margin-top: 190px;
	position: relative;
}

.contents-item:nth-child(4)::after {
	background: url(../img/lightblue-bg.jpg) no-repeat center center/cover;
	content: "";
	height: 381px;
	left: 0;
	position: absolute;
	top: 57px;
	width: 813px;
	z-index: -1;
}

.contents-item:nth-child(4).food-item {
	margin-top: 222px;
}

.contents-item:nth-child(4).spa-item {
	margin-top: 222px;
}

.contents-item:nth-child(4).blog-item {
	margin-top: 222px;
}

.contents-item:nth-child(4) .contents-box__picture {
	height: 300px;
	max-width: 100%;
	width: 525px;
}

.contents-item:nth-child(4) .contents-box__picture img {
	-o-object-fit: cover;
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.contents-item:nth-child(4) .contents-box__content {
	margin-right: auto;
	padding-left: 60px;
	padding-top: 117px;
	width: calc(100% - 525px);
}

.contents-item:nth-child(4) .contents-box__content.content-blog {
	padding-right: 30px;
}

.contents-item:nth-child(4) .contents-box__attention {
	font-size: 14px;
	line-height: 1.5;
	margin-top: 40px;
	padding-left: 0;
}

.contents-item:nth-child(5) {
	display: flex;
	margin-top: 167px;
	position: relative;
}

.contents-item:nth-child(5)::after {
	background: url(../img/lightblue-bg.jpg) no-repeat center center/cover;
	content: "";
	height: 381px;
	position: absolute;
	right: 0;
	top: 57px;
	width: 813px;
	z-index: -1;
}

.contents-item:nth-child(5).food-item {
	margin-top: 222px;
}

.contents-item:nth-child(5).blog-item {
	margin-top: 222px;
}

.contents-item:nth-child(5) .contents-box__picture {
	height: 300px;
	max-width: 100%;
	width: 525px;
}

.contents-item:nth-child(5) .contents-box__picture img {
	-o-object-fit: cover;
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.contents-item:nth-child(5) .contents-box__content {
	padding-left: 80px;
	padding-top: 120px;
	width: calc(100% - 525px);
}

.contents-item:nth-child(5) .contents-box__content .contents-box__text {
	padding-right: 20px;
}

.contents-item:nth-child(5) .contents-box__content.content-blog .contents-box__text {
	padding-right: 20px;
}

.contents-item:nth-child(5) .contents-box__attention {
	font-size: 14px;
	line-height: 1.5;
	margin-top: 40px;
	padding-left: 0;
}

.contents-box__title {
	font-size: 24px;
}

.contents-box__text {
	line-height: 2;
	margin-top: 45px;
}

.effect {
	border-bottom: 1px solid #E7E7E7;
	border-top: 1px solid #E7E7E7;
	margin: 295px auto 0;
	padding: 95px 0 74px;
}

.effect-title {
	font-size: 26px;
	text-align: center;
}

.effect-items {
	margin: 50px auto 0;
	max-width: 100%;
	width: 880px;
}

.effect-item {
	border-top: 1px solid #E7E7E7;
	display: flex;
	font-size: 15px;
	line-height: 1.46666667;
	padding: 14px 0;
}

.effect-item:last-child {
	border-bottom: 1px solid #E7E7E7;
}

.effect-item dt {
	width: 220px;
}

.effect-item dd {
	width: calc(100% - 220px);
}

.pagination {
	display: flex;
	justify-content: center;
	margin-top: 200px;
}

.nav-links a:hover {
	background-color: #0d5ca7;
	opacity: 1;
}

.page-numbers {
	align-items: center;
	background-color: #59b1e2;
	border: 1px solid #0d5ca7;
	border-radius: 50%;
	color: #fff;
	display: inline-block;
	display: flex;
	font-size: 16px;
	height: 40px;
	justify-content: center;
	position: relative;
	width: 40px;
}

.page-numbers:not(:first-child) {
	margin-left: 12px;
}

.current {
	background-color: #0d5ca7;
	color: #fff;
}

.prev {
	position: relative;
}

.prev::after {
	content: "";
	height: 12px;
	position: absolute;
	width: 7px;
}

.prev:hover::after {
	height: 8px;
	left: 17px;
	top: 15px;
	transform: translate(-50%, -50%);
	transform: rotate(-135deg);
	width: 8px;
}

.next {
	position: relative;
}

.next::after {
	content: "";
	height: 12px;
	position: absolute;
	width: 7px;
}

.next:hover::after {
	height: 8px;
	left: 13px;
	top: 15px;
	transform: translate(-50%, -50%);
	transform: rotate(45deg);
	width: 8px;
}

.blog-picture {
	height: 300px;
	max-width: 100%;
	width: 525px;
}

.blog-picture img {
	-o-object-fit: cover;
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.content-blog {
	width: calc(100% - 525px);
}

.content-blog .contents-box__title {
	line-height: 1.5;
}

@media (min-width: 768px) and (max-width: 1199px) {

.inner {
	padding-left: 24px;
	padding-right: 24px;
}

.header-inner {
	width: 100%;
}

.header-nav {
	margin-left: 80px;
}

.main-visual {
	height: 880px;
}

.main-visual__content1 {
	right: 30%;
	top: 280px;
}

.main-visual__content2 {
	right: 38%;
	top: 280px;
}

.history-inner {
	width: 100%;
}

.history-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 50px 40px 0;
	width: 100%;
}

.history-title p:not(:first-child) {
	margin-right: 28px;
}

.history-lead p:not(:first-child) {
	margin-right: 16px;
}

.history-lead {
	margin-right: 60px;
}

.history-name {
	margin-right: 60px;
}

.about-item {
	align-items: center;
}

.about-item:nth-child(1) .about-content {
	margin-right: 10px;
	padding-left: 30px;
	padding-top: 0;
	width: 45.3125%;
}

.about-item:nth-child(1) .about-content p {
	margin-top: 40px;
}

.about-item:nth-child(1) .about-content .about-button {
	margin-top: 40px;
}

.about-item:nth-child(2) .about-picture {
	width: 54.6848%;
}

.about-item:nth-child(2) .about-content {
	margin-right: 0;
	padding-top: 0;
	width: 45.3152%;
}

.about-item:nth-child(2) .about-content p {
	margin-top: 40px;
}

.about-item:nth-child(2) .about-content .about-button {
	margin-top: 40px;
}

.about-item:nth-child(3) .about-content {
	margin-right: 10px;
	padding-left: 30px;
	padding-top: 0;
	width: 45.3125%;
}

.about-item:nth-child(3) .about-content h2 br {
	display: none;
}

.about-item:nth-child(3) .about-content p {
	margin-top: 40px;
}

.about-item:nth-child(3) .about-content .about-button {
	margin-top: 40px;
}

.plan-inner {
	padding-left: 24px;
	padding-right: 24px;
}

.plan-item:not(:nth-child(3n+1)) {
	margin-left: 40px;
}

.plan-item {
	width: calc((100% - 80px) / 3 - 1px);
}

.news-items {
	display: block;
}

.news-left {
	margin-right: 0;
	width: 100%;
}

.news-right {
	margin-top: 20px;
	width: 100%;
}

.news-lead br {
	display: none;
}

.access-inner {
	width: 80%;
}

.access-row {
	display: block;
}

.access-picture {
	height: 470px;
	width: 100%;
}

.access-info {
	padding-left: 0;
	width: 100%;
}

.access-map {
	width: 100%;
}

.header-visual {
	height: 300px;
}

.breadcrumb {
	padding: 0 20px;
}

.contents {
	width: 100%;
}

.contents-item:nth-child(1) {
	padding-right: 20px;
}

.contents-item:nth-child(1)::after {
	height: 430px;
	width: 70%;
}

.contents-item:nth-child(1) .contents-box__picture {
	width: 50%;
}

.contents-item:nth-child(1) .contents-box__content {
	padding-left: 40px;
	width: 50%;
}

.contents-item:nth-child(1) .contents-box__content .contents-box__text {
	padding-right: 0;
}

.contents-item:nth-child(1) .contents-box__content.content-blog .contents-box__text {
	padding-right: 0px;
}

.contents-item:nth-child(2)::after {
	height: 430px;
	width: 70%;
}

.contents-item:nth-child(2) .contents-box__picture {
	width: 50%;
}

.contents-item:nth-child(2) .contents-box__content {
	padding-left: 20px;
	padding-right: 20px;
	width: 50%;
}

.contents-item:nth-child(3) {
	padding-right: 20px;
}

.contents-item:nth-child(3)::after {
	height: 430px;
	width: 70%;
}

.contents-item:nth-child(3) .contents-box__picture {
	width: 50%;
}

.contents-item:nth-child(3) .contents-box__content {
	padding-left: 40px;
	width: 50%;
}

.contents-item:nth-child(3) .contents-box__content .contents-box__text {
	padding-right: 0;
}

.contents-item:nth-child(3) .contents-box__content.content-blog .contents-box__text {
	padding-right: 0px;
}

.contents-item:nth-child(4)::after {
	height: 430px;
	width: 70%;
}

.contents-item:nth-child(4) .contents-box__picture {
	width: 50%;
}

.contents-item:nth-child(4) .contents-box__content {
	padding-left: 20px;
	padding-right: 20px;
	width: 50%;
}

.contents-item:nth-child(5) {
	padding-right: 20px;
}

.contents-item:nth-child(5)::after {
	height: 400px;
	width: 70%;
}

.contents-item:nth-child(5) .contents-box__picture {
	width: 50%;
}

.contents-item:nth-child(5) .contents-box__content {
	padding-left: 40px;
	width: 50%;
}

.contents-item:nth-child(5) .contents-box__content .contents-box__text {
	padding-right: 0;
}

.contents-item:nth-child(5) .contents-box__content.content-blog .contents-box__text {
	padding-right: 0px;
}

.effect-items {
	padding: 0 40px;
	width: 100%;
}

.effect-item dd br {
	display: none;
}

.blog-picture {
	width: 50%;
}

.content-blog {
	width: 50%;
}

}

@media (min-width: 1200px) and (max-width: 1920px - 1px) {

.header-visual {
	height: 300px;
}

}

@media (min-width:1920px) and (max-width: 3000px) {

.about-item:nth-child(2) .about-content {
	padding-left: 21.2%;
}

.plan-picture img {
	-o-object-fit: cover;
	object-fit: cover;
}

}

@media (max-width: 767px) {

.inner {
	padding-left: 20px;
	padding-right: 20px;
}

.section-title {
	font-size: 30px;
}

#js-mouse.js-hover {
	display: none;
}

#js-mouse {
	display: none;
}

.header__main-page-fixed .header__lower-logo {
	width: 150px;
}

.header__main-page .header__main-logo {
	width: 150px;
}

.header-inner {
	width: 100%;
}

.header-nav {
	display: none;
}

.drawer-icon {
	display: block;
}

.lower-drawer {
	display: block;
}

.modal-button a {
	padding: 12px 14px;
}

.modal-button {
	margin-left: 15px;
}

.modal-body {
	width: 80%;
}

.modal-content {
	padding: 30px 20px 60px;
}

.main-visual {
	height: 620px;
}

.main-visual__content {
	font-size: 28px;
}

.main-visual__content1 {
	right: 30%;
	top: 180px;
}

.main-visual__content2 {
	right: 45%;
	top: 180px;
}

.history {
	height: auto;
}

.history-inner {
	width: 100%;
	writing-mode: horizontal-tb;
}

.history-content {
	padding: 30px 0;
}

.history-title {
	font-size: 22px;
}

.history-title p:not(:first-child) {
	margin-right: 0;
	padding-top: 0;
}

.history-title p {
	line-height: 2;
}

.history-lead p:not(:first-child) {
	margin-right: 0;
}

.history-lead {
	font-size: 12px;
	line-height: 1.5;
	margin-right: 0;
	padding-left: 10px;
	padding-top: 40px;
}

.history-name p {
	font-size: 18px;
}

.history-name {
	margin-right: 0;
	margin-top: 30px;
	padding-bottom: 0;
}

.about {
	padding: 60px 0;
}

.about-item {
	display: block;
	position: relative;
}

.about-item:nth-child(1) .about-picture::after {
	background-color: rgba(0, 0, 0, 0.3);
	bottom: 0;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.about-item:nth-child(1) .about-picture {
	height: 600px;
	position: relative;
	width: 100%;
}

.about-item:nth-child(1) .about-content {
	color: #fff;
	left: 50%;
	margin-left: 0;
	padding-left: 20px;
	padding-top: 0;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.about-item:nth-child(1) .about-content h2 {
	font-size: 26px;
}

.about-item:nth-child(1) .about-content p {
	font-size: 14px;
	margin-top: 20px;
}

.about-item:nth-child(1) .about-content p br.is-close__sp {
	display: none;
}

.about-item:nth-child(1) .about-content .about-button a {
	background: transparent;
	border: 1px solid #ecc100;
}

.about-item:nth-child(1) .about-content .about-button {
	margin-top: 20px;
}

.about-item:nth-child(2) {
	margin-top: 60px;
}

.about-item:nth-child(2) .about-picture::before {
	background-color: rgba(0, 0, 0, 0.3);
	bottom: 0;
	content: " ";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
}

.about-item:nth-child(2) .about-picture {
	height: 600px;
	position: relative;
	width: 100%;
}

.about-item:nth-child(2) .about-content {
	color: #fff;
	left: 50%;
	margin-right: 0;
	padding-left: 20px;
	padding-top: 0;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	z-index: 2;
}

.about-item:nth-child(2) .about-content h2 {
	font-size: 26px;
}

.about-item:nth-child(2) .about-content p {
	font-size: 14px;
	margin-top: 20px;
}

.about-item:nth-child(2) .about-content .about-button a {
	background: transparent;
	border: 1px solid #ecc100;
}

.about-item:nth-child(2) .about-content .about-button {
	margin-top: 20px;
}

.about-item:nth-child(3) {
	margin-top: 60px;
}

.about-item:nth-child(3) .about-picture::before {
	background-color: rgba(0, 0, 0, 0.3);
	bottom: 0;
	content: " ";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
}

.about-item:nth-child(3) .about-picture {
	height: 600px;
	position: relative;
	width: 100%;
}

.about-item:nth-child(3) .about-content {
	color: #fff;
	left: 50%;
	margin-left: 0;
	padding-left: 20px;
	padding-top: 0;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	z-index: 2;
}

.about-item:nth-child(3) .about-content h2 {
	font-size: 26px;
}

.about-item:nth-child(3) .about-content p {
	font-size: 14px;
	margin-top: 20px;
}

.about-item:nth-child(3) .about-content p br.is-close__sp {
	display: none;
}

.about-item:nth-child(3) .about-content .about-button a {
	background: transparent;
	border: 1px solid #ecc100;
}

.about-item:nth-child(3) .about-content .about-button {
	margin-top: 20px;
}

.plan {
	padding: 90px 0 60px;
}

.plan-inner {
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
}

.plan-items {
	display: block;
}

.plan-item:not(:nth-child(3n+1)) {
	margin-left: 0;
}

.plan-item:not(:first-child) {
	margin-top: 30px;
}

.plan-item {
	width: 100%;
}

.plan-item p {
	font-size: 14px;
	margin-top: 20px;
}

.plan-item p br {
	display: none;
}

.plan-picture img {
	height: auto;
	width: 100%;
}

.news {
	padding: 90px 0 60px;
}

.news-inner {
	width: 100%;
}

.tab {
	padding-right: 0;
}

.news-items {
	display: block;
}

.news-left {
	margin-right: 0;
	width: 100%;
}

.news-right {
	margin-top: 30px;
	width: 100%;
}

.news-date {
	font-size: 12px;
}

.news-lead {
	font-size: 14px;
	line-height: 1.5;
}

.news-lead br {
	display: none;
}

.access {
	padding: 90px 0 60px;
}

.access-inner {
	width: 100%;
}

.access-row {
	display: block;
	margin-top: 30px;
}

.access-picture {
	-o-object-fit: contain;
	height: auto;
	object-fit: contain;
	width: 100%;
}

.access-info {
	padding-left: 0;
	width: 100%;
}

.access-info dl dt:not(:first-child) {
	margin-top: 12px;
}

.access-info dl dd {
	margin-top: 12px;
}

.access-info {
	margin-top: 20px;
}

.access-text {
	font-size: 14px;
	margin-top: 8px;
}

.access-text br {
	display: none;
}

.access-map {
	margin-top: 40px;
	width: 100%;
}

.footer-top {
	padding: 40px;
}

.footer-logo {
	height: 72px;
	margin-bottom: 0;
	margin-top: 40px;
	width: 125px;
}

.footer-info {
	margin-top: 30px;
}

.footer-address p span:last-child {
	padding-left: 0;
}

.footer-address p {
	display: flex;
	flex-direction: column;
	line-height: 1.5;
}

.footer-tel {
	margin-top: 16px;
}

.footer-tel p span:last-child {
	padding-left: 0;
}

.footer-tel p {
	display: flex;
	flex-direction: column;
	line-height: 1.5;
}

.footer-bottom {
	height: 60px;
}

.header__lower-page .header__lower-logo {
	width: 150px;
}

.header-visual {
	height: 200px;
}

.breadcrumb {
	padding: 0 20px;
}

.contents {
	padding-bottom: 60px;
	width: 100%;
}

.contents.contents-spa {
	padding-bottom: 60px;
}

.contents.contents-blog {
	padding-bottom: 60px;
}

.contents-text {
	margin-top: 68px;
	padding: 0 20px;
	text-align: left;
}

.contents-items {
	margin-top: 58px;
}

.contents-item:nth-child(1) {
	display: block;
}

.contents-item:nth-child(1)::after {
	display: none;
}

.contents-item:nth-child(1) .contents-box__picture::before {
	background-color: rgba(0, 0, 0, 0.3);
	bottom: 0;
	content: " ";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.contents-item:nth-child(1) .contents-box__picture {
	height: 400px;
	position: relative;
	width: 100%;
}

.contents-item:nth-child(1) .contents-box__content {
	color: #fff;
	left: 0;
	padding: 50px 20px 0 20px;
	position: absolute;
	top: 0;
	width: 100%;
}

.contents-item:nth-child(1) .contents-box__content .contents-box__text {
	padding-right: 0;
}

.contents-item:nth-child(1) .contents-box__content.content-blog .contents-box__text {
	padding-right: 0;
}

.contents-item:nth-child(2) {
	display: block;
	margin-top: 60px;
}

.contents-item:nth-child(2)::after {
	display: none;
}

.contents-item:nth-child(2).food-item {
	margin-top: 60px;
}

.contents-item:nth-child(2).spa-item {
	margin-top: 60px;
}

.contents-item:nth-child(2).blog-item {
	margin-top: 60px;
}

.contents-item:nth-child(2) .contents-box__picture::before {
	background-color: rgba(0, 0, 0, 0.3);
	bottom: 0;
	content: " ";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.contents-item:nth-child(2) .contents-box__picture {
	height: 400px;
	position: relative;
	width: 100%;
}

.contents-item:nth-child(2) .contents-box__content {
	color: #fff;
	left: 0;
	padding: 50px 20px 0 20px;
	position: absolute;
	top: 0;
	width: 100%;
}

.contents-item:nth-child(2) .contents-box__content.content-blog {
	padding-right: 20px;
}

.contents-item:nth-child(3) {
	display: block;
	margin-top: 60px;
}

.contents-item:nth-child(3)::after {
	display: none;
}

.contents-item:nth-child(3).food-item {
	margin-top: 60px;
}

.contents-item:nth-child(3).blog-item {
	margin-top: 60px;
}

.contents-item:nth-child(3) .contents-box__picture::before {
	background-color: rgba(0, 0, 0, 0.3);
	bottom: 0;
	content: " ";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.contents-item:nth-child(3) .contents-box__picture {
	height: 400px;
	position: relative;
	width: 100%;
}

.contents-item:nth-child(3) .contents-box__content {
	color: #fff;
	left: 0;
	padding: 50px 20px 0 20px;
	position: absolute;
	top: 0;
	width: 100%;
}

.contents-item:nth-child(3) .contents-box__content .contents-box__text {
	padding-right: 0;
}

.contents-item:nth-child(3) .contents-box__content.content-blog .contents-box__text {
	padding-right: 0;
}

.contents-item:nth-child(4) {
	display: block;
	margin-top: 60px;
}

.contents-item:nth-child(4)::after {
	display: none;
}

.contents-item:nth-child(4).food-item {
	margin-top: 60px;
}

.contents-item:nth-child(4).spa-item {
	margin-top: 60px;
}

.contents-item:nth-child(4).blog-item {
	margin-top: 60px;
}

.contents-item:nth-child(4) .contents-box__picture::before {
	background-color: rgba(0, 0, 0, 0.3);
	bottom: 0;
	content: " ";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.contents-item:nth-child(4) .contents-box__picture {
	height: 400px;
	position: relative;
	width: 100%;
}

.contents-item:nth-child(4) .contents-box__content {
	color: #fff;
	left: 0;
	padding: 50px 20px 0 20px;
	position: absolute;
	top: 0;
	width: 100%;
}

.contents-item:nth-child(4) .contents-box__content.content-blog {
	padding-right: 20px;
}

.contents-item:nth-child(5) {
	display: block;
	margin-top: 60px;
}

.contents-item:nth-child(5)::after {
	display: none;
}

.contents-item:nth-child(5).food-item {
	margin-top: 60px;
}

.contents-item:nth-child(5).blog-item {
	margin-top: 60px;
}

.contents-item:nth-child(5) .contents-box__picture::before {
	background-color: rgba(0, 0, 0, 0.3);
	bottom: 0;
	content: " ";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.contents-item:nth-child(5) .contents-box__picture {
	height: 430px;
	position: relative;
	width: 100%;
}

.contents-item:nth-child(5) .contents-box__content {
	color: #fff;
	left: 0;
	padding: 50px 20px 0 20px;
	position: absolute;
	top: 0;
	width: 100%;
}

.contents-item:nth-child(5) .contents-box__content .contents-box__text {
	padding-right: 0;
}

.contents-item:nth-child(5) .contents-box__content.content-blog .contents-box__text {
	padding-right: 0;
}

.effect {
	margin: 100px auto 0;
	padding: 50px 0 37px;
}

.effect-items {
	margin: 42px auto 0;
	padding: 0 20px;
	width: 100%;
}

.effect-item dt {
	width: 25%;
}

.effect-item dd br {
	display: none;
}

.effect-item dd {
	width: 75%;
}

.pagination {
	margin-top: 60px;
}

.blog-picture {
	width: 100%;
}

.content-blog {
	width: 100%;
}

}

@keyframes loader {

from {
	opacity: 1;
	transform: translateY(0);
}

to {
	opacity: 0;
	transform: translateY(-100px);
}

}

@keyframes slider-1 {

0% {
	opacity: 0;
	transform: scale(1);
}

4.16% {
	opacity: 1;
}

33.33% {
	opacity: 1;
}

41.66% {
	opacity: 0;
	transform: scale(1.2);
}

100% {
	opacity: 0;
}

}

